.all {
  color: wheat;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  border: 1px solid grey;
  color: red;
}
.footer {
  border-top: 1px solid gray;
  text-align: center;
}
.img {
  width: 100%;
  max-width: fit-content;
}
.nav {
  border-right: 1px solid gray;
  padding: 5px;
  align-items: center;
}
.aside {
  border-left: 1px solid gray;
  padding: 10px;
}
.genres {
  align-items: left;
}
.content {
  align-items: center;
}
.rainbow {
  border-bottom: 2px solid red;
  padding-left: 20px;
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;

  /* Standar Syntax */
  animation: rainbow 3s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

/* Internet Explorer */
@-ms-keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  100% {
    color: orange;
  }
}

/* Standar Syntax */
@keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  100% {
    color: orange;
  }
}
.chos {
  font-size: 1rem;
  text-align: left;
}
:link {
  color: #28d44d;
}
.zip {
  text-align: right;
}
@media (max-width: 1024px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .all {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .nav {
    order: 1;
    border: none;
  }
  .aside {
    order: 2;
    border: none;
    font-size: 1.5rem;
  }
  .content {
    border-top: 1px solid gray;
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 30%;
  }
}
