.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.king {
  color: tomato;
  font-size: 5rem;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 1rem;
}

.shit {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 10px solid yellow;
  border-radius: 50%;
  border-top-color: tomato;
  animation: spin 1s ease-in-out infinite;
  background-color: yellow;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .body {
    flex: 1;
  }
}
