.body {
  color: beige;
  display: grid;
  grid-template-columns: 20% 80%;
  font-size: 1rem;
}
.img {
  max-width: 97%;
  width: 100%;
}
.p {
  display: grid;
  grid-template-columns: 80% 20%;
}
.index {
  width: 100%;
  border: 1px solid #aaa;
  text-overflow: ellipsis;
}
.summary {
  display: none;
}
.genres {
  color: beige;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.list {
  font-size: 1rem;
  text-align: left;
}
@media (max-width: 600px) {
  html {
    font-size: 62.5%;
  }
  .realsummary {
    display: none;
  }
  .summary {
    display: flex;
  }
  .body {
    grid-template-columns: 30% 70%;
  }
  .index {
    border: none;
    text-overflow: none;
    overflow-y: none;
  }
  .p {
    width: 100%;
    border: 1px solid #aaa;
    grid-template-columns: none;
  }
}
